.add{
    display: block;
    right: 0;
    background-color: rgba(215, 215, 215, 0.497);
    transform: translateX(5000px);

    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;

    transition: all .5s ease-in;

    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.8);

    &:hover {
        color: #fff;
        background-color: rgba(94, 94, 94, 0.574);
    }
}

.ready {
    position: relative;
    transition: all 1.5s ease;
    transform: unset;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
