.btn {
    display: flex;
    width: 100%;
    min-height: 40px;
    border-radius: 10px;
    padding: 5px 20px;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: #fff;
    border: 1px solid gray;
    background-color: rgb(175, 175, 175);
    transition: all .5s;

    &:hover {
        color: gray;
        background-color: transparent;
    }

}
