@import "normalize";
@import "fonts";
@import "vars";
@import "global";
@import "mixins";
@import "hidden";
@import "img-bg";
@import "container";
@import "btn";

@import "blocks/header";
@import "blocks/logo";
@import "blocks/main";
@import "blocks/form";
@import "blocks/data";
@import "blocks/add";
@import "blocks/slider";
@import "blocks/footer";

